@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Rajdhani:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
  background-color: #F3F0D7;
  text-align: justify;
}
:root{
  --text-color:#090910;
  --primary-color:#FFBF86;
  --secondary-color:#f17334;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
  color: var(--text-color);
}
input:focus,textarea:focus{
  outline: 3px solid var(--primary-color);
  border: none;
  transform: scale(1.05);
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}